<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{layout::menu}"></nav>
<table class="table">
    <thead>
    <tr>
        <td colspan="6"><h1>Lista de Depositos</h1></td>
        <td></td>
        <td><a class="btn btn-primary">Agregar</a></td>
    </tr>
    <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Direccion</td>
        <td>Telefono</td>
        <td>Email</td>
        <td>Contraseña</td>
        <td>Acciones</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario:${usuarios}">
        <td th:text="${usuario.idUsuario}"></td>
        <td th:text="${usuario.nombreU}"></td>
        <td th:text="${usuario.apellidoU}"></td>
        <td th:text="${usuario.direccion}"></td>
        <td th:text="${usuario.telefono}"></td>
        <td th:text="${usuario.email}"></td>
        <td th:text="${usuario.contraseña}"></td>
        <td>
            <a class="btn btn-danger" >Editar</a>
            <a class="btn btn-warning">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>

